:root{

    --color-fondo: transparent;

    --color-principal:#4a4474;
    --color-principal-claro:#efedfc;
    --color-principal-alternativo:#776eaf;


    --acento-claro:#e45b6d;
    --acento-oscuro:crimson;

    --color-cta:#624AD8;

    --color-textos:rgb(68, 67, 67);
    --color-titulos:black;

    --fuentes-textos: 'Nunito',sans-serif;
    --fuentes-titulos: 'Faustina', sans-serif;
    --fuente-neutra:  'Lato', sans-serif;
    --fuente-logo:  'Grandstander', Arial, Helvetica, sans-serif;
    --fuente-inicio: Arial;

    
}


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}

/*Pongo una imagen de fondo en el documento*/

body{

    background-image: url(../imagenes/mancha.svg);
    background-repeat: no-repeat;
    background-position-y: -300px;
    background-position-x: 500px;
    background-size: 100%;
    

}

/*Le quito los estilos feos a los links y li*/

a{

    text-decoration: none;

}



li{

    list-style: none;

}


/*Estilos de mi boton de menu hamburguesa*/

.hamburguesa{

    display: inline-block;
    font-size: 30px;
    position: fixed;
    top: 0px;
    right: -100px;
    z-index: 900;
    background-color: var(--acento-claro);
    border-radius: 50%;
    color: white;
    width: 60px;
    height: 60px;
    margin-right:15px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    justify-content: center;


}




/*Estilos de mi header*/

.header{
padding: 1em;
padding-top: 0.9em;
display: flex;
justify-content: space-between;
align-items: center;
font-size: 0.8rem;
position: sticky;
top: 0px;
}

/*Clase para el header sticky cuando estamos bajando por la pantalla */


.header.cambio{

    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: var(--color-principal);
    font-size: 0.6rem;

}

.header.cambio .menu-principal{

    font-size: 1.2em;
    margin-right: 0em;

}

.header.cambio > nav > a {

    color: white;

    
}

.header.cambio .boton{

    background-color: var(--acento-claro);
    color: white;

    
}

.header.cambio .boton:hover{

    background-color: var(--acento-oscuro);
    color: white;

    
}




.header.cambio > figure > h1, .cambio > figure > h2{

    color: white;

}



/*conjunto de imagen y texto de la marca*/
.marca{

    width: 30%;
    margin-top: 1em;
    margin-left: 1em;
    position: relative;
    transition: all 1s ease 0s;
    

}

/*Estilos de mi logo uno*/
.logo-1>img{

    width: 100%;
    height: auto;

}

.logo-1{

    width: 6em;
    float:left;

}

/*alquimify*/
.marca>h2{

    color: var(--color-principal);
    font-family: var(--fuente-logo);
    font-size: 2.7em;
    margin-top: 0.1em;
    position: absolute;
    left: 2.6em;

}

/*Marketing Digital*/

h1{

    color: var(--color-principal);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    position: absolute;
    left: 8.8em;
    top: 3em;
}

/*Estilos de mi menu principal*/

.menu-principal{

    margin-right: 3em;


}

.menu-principal>a, .boton1{

    margin-right: 3em;
    color: var(--color-principal);
    font-family: 'Nunito',sans-serif;
    font-weight: 500;
    font-size: 1.3em;


}

.menu-principal>a:hover{

    color:black;

}




/*Estilos iniciales para los botones, después en cada uno se modifican detalles*/

.boton{

    display: inline-block;
    font-family: 'Nunito',sans-serif;
    font-weight: 800;
    color: white;
    padding: 0.9em;
    background-color: var(--acento-claro);
    border-radius: 34px;
    transition: all 1s ease;
    

}

.boton1{

    border: none;

}

.boton:hover{

    background-color: var(--acento-oscuro);
    color: white;
}


/*Empiezan los estilos de mi aside*/


aside{


    background-color: var(--color-fondo);
    padding-bottom: 5rem;

    display: flex;
    justify-content: center;

}

/*Estilos de mi call to action*/


.invitacion{

    display: inline-block;
    display: flex;

    justify-content: space-between;

    background: white;
    width: 80%;
    margin-top: 2.5rem;
    padding: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 4rem;

    box-shadow: 0 0 1.25rem grey;

}

.conjunto{

    max-width: 70%;

}
.conjunto>h3{

    font-family: 'Nunito',Arial,sans-serif;
    margin-bottom: 1rem;
    color: var(--color-titulos);

}

.conjunto>p{

    font-family: var(--fuentes-textos);
    max-width: 85%;
    color: var(--color-textos);

}

.boton3{

    display: inline-block;
    display: flex;
    width: 13rem;
    color: white;
    background-color: var(--acento-claro);
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border: none;
    box-shadow: 0 0 15px grey;
    height: max-content;
    align-self: center;
    text-align: center;


}

.boton3:hover{

    background-color: var(--acento-oscuro);

}

.boton3:active{

    box-shadow: none;

}

/*Empiezan estilos del footer*/

    .footer{

    background-color: var(--color-principal);
    display: flex;
    flex-wrap: wrap;
    padding-top: 3.2em;
    padding-bottom: 3.2em;
    padding-right: 2em;
    padding-left: 2em;

    }

    .logo-2{

    width: 12%;
    height: auto;

    }

    .logo-2 img{

    max-width: 85%;
    height: auto;

    }

    .texto-footer{

        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-right: 4.5em;
        padding-left: 2em;
    
    }

    .texto-footer a{

        color: white;

    }

    .derechos{

        font-size: 1em;
        font-family: 'Verdana';
        color: white;

    }

    .creditos{

        font-size: 1em;
        font-family: 'Verdana';
        
    }

    .sociales{

        width: 28%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }

    .sociales > [class^="icon-"]{

        font-size: 4.2em;
        color: white;

    }

    .sociales span{

        color: white;
        font-family: 'Nunito';
        font-size: 1.3em;
        font-weight: 600;
        margin-top: 1em;

    }

        /*Empiezan los estilos del popup*/

        .popup{

            
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            padding-top: 20px;
            background-color: rgba(0,0,0,0.6);
            z-index: 1000;
            display: none;
            overflow: auto;
            
        }

        /*clase para cuando queramos que se muestre el formulario*/

        .popup.visible{

            display: inline-block;
            

        }

        /*Clase para que no exista scroll en la pagina web cuando este le popup*/

        .superpuesto{

            overflow: hidden;


        }


        /*Contenedor blanco del pop up*/

        .popup form{

            margin: auto;
            text-align: center;
            transition: all 1s ease;
            background-color: var(--color-principal-claro);
            width: 90%;
            max-width: 750px;
            display: flex;
            flex-wrap: wrap;
            padding-top: 1em;
            padding-right: 1em;
            padding-left: 1em;
            border-radius: 5px;
            height: auto;
            overflow-y: visible;
            margin-bottom: 1.5em;
                        
        }


        /*Boton de salir*/

        #formulario i:hover{

            color: red;

        }


        /*Asesoría Gratuita*/

        .popup form h4{

            display: block;
            width: 100%;
            font-size: 2.5em;
            font-family: var(--fuentes-titulos);
            color: var(--color-principal);


        }

        .imagen_formulario img{
            display: block;
            width: 100%;
            height: auto;

        }

        .imagen_formulario{

            display: flex;
            width: 30%;
            height: auto;
            justify-content: center;
            text-align: center;

        }

        /*Texto introductorio*/

        .aclaraciones{
            padding-top: 2em;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: max-content;
 

        }

        .aclaraciones span{

            display: block;
            font-family: var(--fuentes-textos);
            color: var(--color-textos);
            padding-top: 1em;

        }

        .aclaraciones span b{

            color: black;

        }

        /*contenedores de input+label*/

        .grupo{

            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 1.5em;

        }

        /*Textos de cada label*/

        .grupo label{

            font-family: var(--fuente-neutra);
            font-weight: 600;
            font-size: 1.4em;
            margin-bottom: 0.6em;
            text-align: left;
            margin-left: 1.8em;
        }

        .grupo input, .grupo select{

            width: 90%;
            max-width: 270px;
            height: 2.8em;
            margin: auto;
            padding-left: 1em;
            padding-top: 10px;
            padding-bottom: 10px;

        }

        .grupo input, .grupo select, .grupo textarea{

            font-family: var(--fuentes-textos);
            border-radius: 0.5em;
            border-style: solid;
            border-color: var(--color-principal);
        } 

        /*Grupo que contiene el campo pais*/

        .grupo.penultimo_grupo{

            margin: auto;
            margin-top: 1.5em;

        }

        /*Ultimo grupo que contiene el campo para dejar un mensaje*/

        .grupo.ultimo_grupo{

            width: 60%;

        }

        .grupo.ultimo_grupo textarea{

            width: 90%;
            max-width: 400px;
            margin: auto;
            resize: none;
            padding: 0.5em;

        }

        #boton_enviar{

            margin: auto;
            align-self: center;
            border: none;
            padding: 0.9em;
            border-radius: 1.6em;
            font-size: 1.5em;
            background-color: var(--acento-claro);

        }

        #boton_enviar:hover{

            background-color: var(--acento-oscuro);

        }

        .espaciado{

            display: block;
            width: 100%;
            height: 3em;

        }


                /*Empiezan mis media querys*/



    /*Ajustes de espacio del footer*/

    @media screen and (max-width: 1027px){

        .texto-footer{

            width: 50%;

        }

        .sociales{

            width: 38%;

        }

        .sociales span{

            margin-top: 0.6em;
        
           }



    }


/* ponemos el menu hacia la derecha para que no se pegue al logo*/
@media screen and (max-width: 950px){

   .menu-principal{

    margin-right: 0px;

   }

}



/*A partir de este tamaño el menu  pasa a ser un menu de hamburguesa*/
/*Tambien hago un ajuste de la mancha de fondo*/

@media screen and (max-width: 920px){

    .menu-principal{
        display: flex;
        position: fixed;
        top: -100vh;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background-color:  rgba(74,68,116,0.95);
        z-index: 500;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        transition: 0.9s;
    }

    .menu-principal.visible{

        top: 0px;

    }


    .menu-principal a, .menu-principal .boton1{

        font-size: 2em;
        margin-right: 0px;
        color: white;

    }

    .cambio > nav > a {

        color: white;
        margin-right: 0px;
    }

    .hamburguesa{

        right: 0px;

    }

    body{

        background-position-y: -250px;
        background-position-x: 400px;

    }

    .marca{

        width: 80%;

    }
}

    /*Quitamos el exceso de padding en la zona de invitacion para que entre mejor el contenido*/

    @media screen and (max-width: 906px){

    .invitacion{

        padding-right: 1em;
        justify-content: center;

    }
    
    .conjunto{

        max-width: 60%;

    }

    .conjunto p, .conjunto h3{

        text-align: center;
        max-width: 90%;

    }

    }



    /*hago un ajuste a imagen de fondo*/

    @media screen and (max-width: 832px){


        body{
            background-position-y: -200px;
            background-position-x: 300px;

        }


    }
    /*Ajustes de espacio en el footer*/

    @media screen and (max-width: 770px){

        .texto-footer{

            padding-right: 1em;
            width: 45%;

        }

        .sociales{

            width: 43%;

        }

        


    }


    /*El boton del call to action pasa a estar debajo del texto*/

    @media screen and (max-width: 712px){


        .invitacion{

           flex-wrap: wrap;
            

        }

        .conjunto{

            max-width: 100%;
            width: 100%;
            margin-bottom: 2em;

        }

        .conjunto p, .conjunto h3{

            max-width: 100%;

        }

    }

    /*La zona de redes sociales pasa a estar abajo en el footer*/

    @media screen and (max-width: 699px){

        .logo-2{

            width: 25%;

        }

        .logo-2 img{

            max-width: 6em;
        }

        .texto-footer{

            width: 75%;
            font-size: 1em;
            padding: 0px;
            text-align: center;
        }

        .sociales{

            margin-top: 2em;
            width: 100%;
            justify-content: center;

        }

        .sociales [class^="icon-"]{

            font-size: 3em;
            margin-right: 0.5em;
            margin-left: 0.5em;

        }

    }

        /*Ajustes en la disposicion del formulario*/

        @media screen and (max-width: 643px){

            #boton_enviar{

                margin-top: 2em;
            }

            .grupo.ultimo_grupo{

                width: 100%;


            }

            .grupo label{

                margin-left: 1em;

            }

            .grupo.ultimo_grupo label{

                margin-left: 2.8em;

            }

        }

        /*Tambien hago un ajuste a la imagen de fondo del body*/

        @media screen and (max-width: 591px){


            body{
                background-position-y: -100px;
                background-position-x: 200px;
    
            }
    
    
        }


        /*Ajuste al label del text area*/
        /*Ajuste  imagen de fondo del body*/

        @media screen and (max-width:560px){

            .grupo.ultimo_grupo label {
                margin-left: 1.2em;
            }

            body{
                background-position-y: 300px;
                background-position-x: 60px;
                background-size: 120%;
            }


        }


    /*Tambien hacemos que los campos para ingresar datos del foormulario esten uno debajo del otro*/

    @media screen and (max-width: 490px){

        .grupo{

            width: 100%;


        }

        .grupo label{

            margin-left: 2.7em;
        }

        .aclaraciones{

            width: 100%;


        }

        .aclaraciones span{

            width: 100%;

        }

        .imagen_formulario{

            width: 70%;
            margin:auto;
        }

        

    }


    /*Reducimos tamaño del texto en zona texto footer*/

    @media screen and (max-width: 460px){

        .texto-footer{

            font-size: 0.85em;

        }

    }

   
    /*El logo y texto del footer pasan a estar en lineas aparte ocupando el 100%*/

    @media screen and (max-width: 424px){

        .logo-2{

            width: 100%;
            display: flex;
            justify-content: center;
        }

        .logo-2 img{

            width: 50%;

        }

        .texto-footer{
            margin-top: 1em;
            width: 100%;

        }

        .creditos{

            margin-top: 0.8em;

        }


    }


    /*Evitamos que el logo de alquimify empieze a chocar con el menu hamburguesa*/

    @media screen and (max-width: 385px){

        .header{

            font-size: 0.6rem;

        }

        .hamburguesa{

            margin-top: 15px;
            margin-right: 20px;

        }


    }

    /*Ajustes de tipo de letra  para tamaños mas pequeños*/

    @media screen and (max-width: 365px){


        .aclaraciones{

            margin-bottom: 1em;

        }

        #formulario{

            width: 95%;
        }

    }